<configuration>
    <system.webServer>
        <security>
            <requestFiltering allowDoubleEscaping="true"></requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="redirect to www.domain.com" patternSyntax="ECMAScript" stopProcessing="true"><match url=".*" /><conditions logicalGrouping="MatchAny"><add input="{HTTP_HOST}" pattern="^" /><add input="{HTTP_HOST}" pattern="^www." /></conditions><action type="Redirect" redirectType="Permanent" url="https://www.domain.com" /></rule>
                -->
                <rule name="redirect to www.aaadriverprogram.com/akronautoclub/ maintain path" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^akronautoclub.aaadriverprogram.com" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://www.aaadriverprogram.com/akronautoclub/{R:0}" appendQueryString="true" />
                </rule>
                <rule name="redirect to www.aaadriverprogram.com/alabama/ maintain path" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^alabama.aaadriverprogram.com" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://www.aaadriverprogram.com/alabama/{R:0}" appendQueryString="true" />
                </rule>
                <rule name="redirect to www.aaadriverprogram.com/alaska/ maintain path" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^alaska.aaadriverprogram.com" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://www.aaadriverprogram.com/alaska/{R:0}" appendQueryString="true" />
                </rule>
                <rule name="redirect to www.aaadriverprogram.com/alliance/ maintain path" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^alliance.aaadriverprogram.com" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://www.aaadriverprogram.com/alliance/{R:0}" appendQueryString="true" />
                </rule>
                <rule name="redirect to www.aaadriverprogram.com/allied/ maintain path" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_HOST}" pattern="^allied.aaadriverprogram.com" />
                    </conditions>
                    <action type="Redirect" redirectType="Permanent" url="https://www.aaadriverprogram.com/allied/{R:0}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>